GH_USERNAME=xxx
GH_TOKEN=xxx

# active-languages
AL_GIST_ID=xxx
AL_GIST_DESCRIPTION=⚡ Active Languages

# total-languages
TL_GIST_ID=xxx
TL_GIST_DESCRIPTION=💻 Dev Footprint

EXCLUDE_LANG=Text,Markdown,HTML,SVG,YAML,TOML,JSON,Vue
EXCLUDE_REPO=xxx
